* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e00b1;
}

.container {
  background-color: #403e43;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 5%;
}

.container > * {
  margin: 10px 0;
}

#weather-image {
  height: 15vh;
  margin-bottom: 0px;
}

#search-button,
#search-input {
  color: white;
  outline: darkgrey;
  background: #2d2c2f;
  border: 0;
  padding: 10px;
  border-radius: 7px;
}

#search-button:hover {
  cursor: pointer;
}

#search-button:active {
  background: #74727a;
}
